<%= form_for @concert do |f| %>
	<% if @concert.errors.any? %>
      <h2><%= pluralize(@concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
      <% @concert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  	<% end %>

  <div class="field">
    <%= f.label :band %><br>
    <%= f.text_field :band, size: 40%>
  </div>
  <div class="field">
    <%= f.label :venue %><br>
    <%= f.text_field :venue %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.collection_select(:city_id, City.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit (@concert.new_record? ? 'Create concert' : 'Update concert') %>
  </div>


<% end %>
