<header class="concert-header">
	<h1><%= @concert.band + " at " + @concert.venue %> </h1>
	<p>On <%= @concert.date.to_s + " in " + @concert.city.name%></p>
</header>

<section class="concert-description">
	<h2>Description</h2>
	<p><%= @concert.description %></p>
	<p>Price: <%= @concert.price %></p>
</section>

<nav>
	<p> Do you want to <%= link_to "go back", concerts_path %> or... <%= link_to "Edit", edit_concert_path(@concert)%> or... <%= link_to "DESTROOOY", concert_path(@concert), method: :delete, data: {confirm: 'Are you sure??'} %></p>
</nav>

<section class="concert-comments">
	<h2>Comments</h2>
	<%= render 'comments/form' %>
	<ul style="list-style-type: none">
		<% @concert.comments.each do |comment| %>
			<li style="border: 1px solid black"><%= comment.user %></br>
				<%= comment.content %>
			</li>
		<% end %>
	</ul>

</section>
