<h1><%= @concert.band + " at " + @concert.venue %> </h1>
<p>On <%= @concert.date.to_s + " in " + @concert.city%></p>

<h2>Description</h2>
<p><%= @concert.description %></p>

<p>Price: <%= @concert.price %></p>

<p> Do you want to <%= link_to "go back", concerts_path %> or... <%= link_to "Seek", edit_concert_path(@concert)%> and <%= link_to "Destroy", concert_path(@concert), method: :delete, data: {confirm: 'Are you sure??'} %>

</p>